
<div class="product-container">
    <div class="filter-container">
        <p class="status">{{"header-info.category" | translate}}</p>
        <div>
            <mat-checkbox style="font-size: 18px;" (change)="pickValue($event,2)">
                <p style="margin-top: 10px;">{{"header-info.man" | translate}}</p>
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox style="font-size: 18px;" (change)="pickValue($event,3)">
                <p style="margin-top: 10px;">{{"header-info.woman" | translate}}</p>
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox style="font-size: 18px;" (change)="pickValue($event,4)">
                <p style="margin-top: 10px;">{{"header-info.child" | translate}}</p>
            </mat-checkbox>
        </div>

        <p class="status">{{"header-info.main-title" | translate}}</p>
        <div>
            <mat-checkbox style="font-size: 18px;" (change)="checkValue($event,0,30)">
                <p style="margin-top: 10px;">0$ - 30$</p>
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox style="font-size: 18px;" (change)="checkValue($event,30,81)">
                <p style="margin-top: 10px;">30$ - 80$</p>
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox style="font-size: 18px;" (change)="checkValue($event,80,150)">
                <p style="margin-top: 10px;">80$ - 150%</p>
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox style="font-size: 18px;" (change)="checkValue($event,150,200)">
                <p style="margin-top: 10px;">150$ - 200$</p>
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox style="font-size: 18px;" (change)="checkValue($event,200,250)">
                <p style="margin-top: 10px;">200$ - 250$</p>
            </mat-checkbox>
        </div>
        <p class="status">{{"header-info.status" | translate}}</p>
        <div>
            <mat-checkbox style="font-size: 18px;" (change)="pickValue($event,1)" >
                <p style="margin-top: 10px;">{{"header-info.new" | translate}}</p>
            </mat-checkbox>
        </div>
        <div>
            <mat-checkbox style="font-size: 18px;" (change)="pickValue($event,5)">
                <p style="margin-top: 10px;">{{"header-info.price" | translate}}</p>
            </mat-checkbox>
        </div>
    </div>
    <div class="products">
         <div class="search-container">
    <div class="form__group field">
        <input type="input" class="form__field" placeholder="Search" name="search" id='search' [ngModel]="search"
            (ngModelChange)="onSearch($event)" required />
    </div>
</div>
<div class="title">
    <h1>{{"header-info.nCollection-title" | translate}}</h1>
</div>
    <div class="container">
    <mat-card class="example-card" *ngFor="let data of newCollection | paginate: { itemsPerPage: 8, currentPage: page }">
        <div (click)="openInfoModal(data)" >
             <mat-card-header>
            <mat-card-subtitle>{{data.title}}</mat-card-subtitle>
        </mat-card-header>
        <img [src]="data.image" style="width:320px ;">
        <mat-card-content>
            <p>
                {{data.description}}
            </p>
        </mat-card-content>
        </div>
        <mat-card-actions>
          <button mat-raised-button (click)="addToCart(data)">{{"category.addToCart" | translate}}</button>
        </mat-card-actions>
    </mat-card>

    <div class="search" *ngIf="newCollection && newCollection.length === 0" style="margin-left: 30px;">
        <p>
            {{"modal.message" | translate}}
        </p>
    </div>

    <div class="paginator" *ngIf="newCollection && newCollection.length !== 0 && newCollection.length > 8 ">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

    </div>
    </div>
   
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.1)" size = "medium" color = "#fff" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" >Loading...</p></ngx-spinner>

    <app-newsletter></app-newsletter>
    <app-footer-information></app-footer-information>
    <div *ngIf="openModal">
        <app-shared-modal (closeEvent)="closeModal()">
            <app-product-modal [data]="selectProduct"></app-product-modal>
        </app-shared-modal>
    </div>
