<h1><span>O</span>ur<span> C</span>lients</h1>
<div class="container">
    <div class="card">
    <div class="img">
<img src='./assets/images/man1.jpg'>
    </div>
    <div class="content">
        <div class="details">
            <h2>Marko Matic<br><span>Medior UX/UI Designer</span></h2>
           <div class="description">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
           </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="img">
<img src='./assets/images/man2.webp'>
    </div>
    <div class="content">
        <div class="details">
            <h2>Petar Petrovic<br><span>Angular Software Developer</span></h2>
           <div class="description">
            <h3> Et harum quidem rerum facilis est et expedita distinctio, nam libero tempore, cum soluta nobis est eligendi.</h3>
           </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="img">
<img src='./assets/images/man3.jfif'>
    </div>
    <div class="content">
        <div class="details">
            <h2>Njegos Vasic<br><span>Junior Angular Developer</span></h2>
           <div class="description">
            <h3>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.</h3>
           </div>
        </div>
    </div>
</div>
</div>
