<div class="container">
    <div class="header-info">
        <div class="items">
            <a routerLink="new/collection" routerLinkActive="active">{{"header-info.new-collection" | translate}}</a>
            <a routerLink="man/collection" routerLinkActive="active">{{"header-info.man" | translate}}</a>
            <a routerLink="woman/collection" routerLinkActive="active">{{"header-info.woman" | translate}}</a>
            <a routerLink="child/collection" routerLinkActive="active">{{"header-info.child" | translate}}</a>
            <div class="outlet">
                <a routerLink="outlet/collection" routerLinkActive="active"><span>%</span>{{"header-info.outlet" | translate}}</a></div>
        </div>
    </div>
</div>