<div class="container">
    <div class="header-info">
        <div class="items">
            <a routerLink="new/collection" routerLinkActive="active">Nova Kolekcija</a>
            <a routerLink="man/collection" routerLinkActive="active">Muskarci</a>
            <a routerLink="woman/collection" routerLinkActive="active">Zene</a>
            <a routerLink="child/collection" routerLinkActive="active">Deca</a>
            <div class="outlet">
                <a routerLink="outlet/collection" routerLinkActive="active"><span>%</span>Outlet</a></div>
        </div>
    </div>
</div>