<div class="wrapper">
    <div class="info">
      <div class="contact">
        <h1>{{ "footer.contact" | translate }}</h1>
        <div class="flex">
          <span>
            <mat-icon>phone</mat-icon>
          </span>
          <p>031/800-8001</p>
        </div>
        <div class="flex">
          <span>
            <mat-icon>add_to_home_screen</mat-icon>
          </span>
          <p>065/764-56-65</p>
        </div>
        <div class="flex">
          <span>
            <mat-icon>add_to_home_screen</mat-icon>
          </span>
          <p>064/998-56-34</p>
        </div>
        <div class="flex">
          <span>
            <mat-icon>schedule</mat-icon>
          </span>
          <p>{{ "footer.working-hours" | translate }}</p>
        </div>
        <div class="flex">
          <span>
            <mat-icon>email</mat-icon>
          </span>
          <p>info@sneakers.com</p>
        </div>
        <div class="flex">
          <span>
            <mat-icon>location_on</mat-icon>
          </span>
          <p>{{ "footer.location" | translate }}</p>
        </div>
      </div>
      <div class="information">
        <h1>{{ "footer.information" | translate }}</h1>
        <div class="content">
          <p>{{ "footer.aboutUs" | translate }}</p>
          <p>{{ "footer.privacy-policy" | translate }}</p>
          <p>{{ "footer.employment" | translate }}</p>
          <p>{{ "footer.gift-card" | translate }}</p>
          <p>{{ "footer.contact" | translate }}</p>
        </div>
      </div>
      <div class="service">
        <h1>{{ "footer.customer-service" | translate }}</h1>
        <div class="content">
          <p>{{ "footer.terms" | translate }}</p>
          <p>{{ "footer.return-item" | translate }}</p>
          <p>{{ "footer.delivery" | translate }}</p>
          <p>{{ "footer.complaints" | translate }}</p>
          <p>{{ "footer.instruction" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  